.principal__sobre-autor {
    background-image: var(--cor-fundo-secao-sobre-autor);
    border-radius: 15px;
    color: var(--cor-fonte-secao-sobre-autor);
    padding: 1em;
}

.sobre-autor__titulo {
    font-size: var(--fonte-tamanho-secao-sobre-autor);
    font-weight: var(--fonte-peso-secao-sobre-autor);
    text-align: center;
}

.sobre-autor__paragrafo {
    text-indent: 30px;
}

.sobre-autor__paragrafo:not(.sobre-autor__paragrafo:last-child) {
    margin: 16px 0;
}